<advancedsettings>
    <network>
        <cachemembuffersize>20971520</cachemembuffersize>
   </network>
   <gputempcommand>echo "$(/opt/vc/bin/vcgencmd measure_temp | grep -o "[0-9]\{2\}") C"</gputempcommand>
   <cputempcommand>echo "$(/opt/vc/bin/vcgencmd measure_temp | grep -o "[0-9]\{2\}") C"</cputempcommand>
   <bginfoloadermaxthreads>2</bginfoloadermaxthreads>

   <gui>

   </gui>

{% if kodi_mysql_host | length -%}
   <videodatabase>
        <type>mysql</type>
        <host>{{ kodi_mysql_host }}</host>
        <port>{{ kodi_mysql_port }}</port>
        <user>{{ kodi_mysql_username }}</user>
        <name>{{ kodi_mysql_database }}</name>
        <pass>{{ kodi_mysql_password }}</pass>
    </videodatabase>
{%- endif %}

    <videolibrary>
      <importwatchedstate>true</importwatchedstate>
      <importresumepoint>true</importresumepoint>
    </videolibrary>

    <enablemultimediakeys>true</enablemultimediakeys>

{% if kodi_metadata_share | length -%}
    <pathsubstitution>
      <substitute>
        <from>special://masterprofile/playlists/</from>
        <to>{{ kodi_metadata_share }}/playlists/</to>
      </substitute>
      <substitute>
        <from>special://masterprofile/mediasources.xml</from>
        <to>{{ kodi_metadata_share }}/mediasources.xml</to>
      </substitute>
      <substitute>
        <from>special://masterprofile/RssFeeds.xml</from>
        <to>{{ kodi_metadata_share }}/RssFeeds.xml</to>
      </substitute>
      <substitute>
        <from>special://masterprofile/favourites.xml</from>
        <to>{{ kodi_metadata_share }}/favourites.xml</to>
      </substitute>
    </pathsubstitution>
{%- endif %}
    <locale>
        <audiolanguage>original</audiolanguage>
        <charset>DEFAULT</charset>
        <country>Central Europe</country>
        <language>English</language>
        <subtitlelanguage>original</subtitlelanguage>
        <timezone>Europe/Zurich</timezone>
        <timezonecountry>Switzerland</timezonecountry>
    </locale>
    <services>
        <airplay>true</airplay>
        <airplaypassword></airplaypassword>
        <esallinterfaces>true</esallinterfaces>
        <escontinuousdelay>25</escontinuousdelay>
        <esenabled>true</esenabled>
        <esinitialdelay>750</esinitialdelay>
        <esmaxclients>20</esmaxclients>
        <esport>9777</esport>
        <esportrange>10</esportrange>
        <upnpannounce>true</upnpannounce>
        <upnprenderer>true</upnprenderer>
        <upnpserver>false</upnpserver>
        <useairplaypassword>false</useairplaypassword>
        <webserver>true</webserver>
        {% if kodi_webserver_password |length %}<webserverpassword>{{ kodi_webserver_password }}</webserverpassword>{% endif %}
        <webserverport>8080</webserverport>
        {% if kodi_webserver_username |length %}<webserverusername>{{ kodi_webserver_username }}</webserverusername>{% endif %}
        <webskin>webinterface.default</webskin>
        <zeroconf>false</zeroconf>
    </services>
    <smb>
        {% if kodi_wins_server |length %}<winsserver>{{ kodi_wins_server }}</winsserver>{% endif %}
        {% if kodi_smb_workgroup |length %}<workgroup>{{ kodi_smb_workgroup }}</workgroup>{% endif %}
    </smb>
    <myvideos>
        <startwindow>10025</startwindow>
        <stackvideos>false</stackvideos>
        <watchmodemovies>0</watchmodemovies>
        <watchmodetvshows>1</watchmodetvshows>
        <watchmodemusicvideos>0</watchmodemusicvideos>
        <needsupdate>0</needsupdate>
        <flatten>false</flatten>
        <playlist>
            <repeat>false</repeat>
            <shuffle>false</shuffle>
        </playlist>
        <extractflags>true</extractflags>
        <extractthumb>true</extractthumb>
        <replacelabels>true</replacelabels>
        <selectaction>1</selectaction>
    </myvideos>

   <video>
      <excludefromscan action="append">
         <regexp>(?i)[\\/](auxdata|backup|clipinf|playlist|stream|certificate)[\\/]</regexp>
         <regexp>(?i)movieobject\.bdmv</regexp>
         <regexp>(?i)VTS_\w+.IFO</regexp>
         <regexp>(?i)VTS_\w+.VOB</regexp>
      </excludefromscan>
   </video>

</advancedsettings>
