[Unit]
Description=Change the Kodi background image
After=network.target

[Service]
ExecStart={{ kodi_scripts_path }}/kodi_bg_changer.sh
WorkingDirectory={{ kodi_background_path }}
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kodi_bg_changer
NotifyAccess=all
User=root
Group=root
Nice=1
Type=oneshot

[Install]
WantedBy=multi-user.target
