#!/bin/bash

SRCDIR={{ kodi_path }}/background_images/
INPWD=$(pwd)

cd $SRCDIR

NEWNAME=$(ls | while read x; do echo "`expr $RANDOM % 1000`:$x"; done | sort -n| sed 's/[0-9]*://' | head -1)

cd ..
ln -fs background_images/$NEWNAME bg.jpg
chown {{ kodi_os_user }} bg.jpg

cd $INPWD
